.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #eee;
  &__title {
    text-transform: capitalize;
    font-weight: 900;
    color: rgb(16, 97, 97);
  }
}
