.section__search {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  &__paragraph {
    font-weight: 600;
    color: rgb(16, 97, 97);
  }
  &__select {
    padding: 0.5rem;
    width: 20rem;
    border: 2px solid #ddd;
    border-radius: 0.5rem;
    background-color: #f8f8f8;
    outline: none;
  }
}
